<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated_poem</title>
    <style>
        body {
            font-family: "Courier New", Courier, monospace; /* 고정 폭 글꼴 사용 */
            white-space: pre-wrap; /* 공백을 유지하는 스타일 */
        }
        .poem {
            line-height: 0;
            margin-bottom: -30px;
            letter-spacing: -5px;
        }
    </style>
</head>
<body>
    <h1>make_own_essence:for {{ poem_name }}</h1>
    <form method="POST" action="/">
        <label for="initial">what are you wondering about? choose one among ㄴ,ㄷ,ㅂ,ㅇ,ㅋ,ㅁ,ㅍ:</label>
        <input type="text" id="poem_initial" name="poem_initial" maxlength="1" required>
        <button type="submit">click to generate</button>
    </form>
    <div class="poem">
        {% for line in poem_lines %}
            <p>{{ line|safe }}</p>
        {% endfor %}
    </div>
    {% if show_memo %}
        <h2>메모 추가하기</h2>
        <form id="memoForm">
            <textarea id="new_poem" name="new_poem" rows="5" placeholder="여기에 메모를 입력하세요..."></textarea>
            <input type="hidden" id="poem_initial" name="poem_initial" value="{{ poem_name }}">
            <button type="button" onclick="savePoem()">메모 저장</button>
        </form>
    {% endif %}

    <script>
        function savePoem() {
            const poemInitial = document.getElementById('poem_initial').value;
            const newPoem = document.getElementById('new_poem').value;

            fetch('/save_poem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ poem_initial: poemInitial, new_poem: newPoem })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                document.getElementById('new_poem').value = ""; // 입력 필드 초기화
            });
        }
    </script>

</body>
</html>